profiles {
  lsf_crispr {
    singularity{
      enabled = true
      autoMounts = true
      cacheDir = "$PWD"
      containerOptions = '--volume /nfs:/lustre:/software'
    }
    process.executor = 'lsf'
    executor.perJobMemLimit = true
    executor.queueSize = 200
    process.memory = '4 GB'

    process.cache = 'lenient' //necesary for lustre
  }
}

params {
// provides sample name
cram_path = "*.{cram,cram.crai}"
library = "ENCORE_COLO1_Library.txt"
myoutdir = "./split_crams_out"

}

timeline {
  enabled = true
  file = "$params.myoutdir/timeline.html"
}

report {
  enabled = true
  file = "$params.myoutdir/report.html"
}

workflow.onComplete = {
    // any workflow property can be used here
    println "Pipeline complete"
    println "Command line: $workflow.commandLine"
}

workflow.onError = {
    println "Oops .. something when wrong"
}
